html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url('imgs/bk.svg');
    font-family: 'Lekton', sans-serif;
    background-color: #ededed;
    background-position: 50% 27%;
    background-size: 100%;
}

header {
    position: fixed;
   	z-index: 10;
    height: 100vh;
    background-color: #000;
    padding: 0;
    box-sizing: border-box;
    width: 150px;
}

#logo{
    text-align: center; 
    margin: 0; 
    padding: 30px 20px 0 20px;
    line-height: 21px;
    font-weight: normal;
    color: #fff;
}

#logo a{
    color: #eaeaea;
    text-decoration: none;
}

#logo a:hover{
    text-transform: uppercase;
}

#logo span{ 
    display: block;
    padding-left: 1px; 
}

nav ul{
	list-style: none;
    padding: 0;
    width: 100%;
}
nav a{
	text-decoration: none;
    text-align: right; 
    padding: 10px 30px;
	color: #eaeaea;
	display: block;
    transition: all 0.2s;
}

nav a:hover{
    color: #000;
    background-color: #eaeaea;
}

.grilla{
	width: 10vw;
	height: 10vw;    
	border: solid 3px #000;
	float: left;
    transition: opacity 0.3s;
    box-sizing: border-box;
}

#escena {
    perspective: 800vw;
    width: 100vw;
    height: 0;
    position: absolute;
    top: 0;
    text-align: center;
    margin: 0 auto;
    transition: all 0.2s;
    transform: scale(0.2);
}

#cubo {
    transform-style: preserve-3d;
    transform: rotateX(60deg) rotateY(60deg) rotateZ(60deg);
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 100vw;
    height: 100vw;
}

.cara{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vw;
}

#pagina1{ transform: translateZ(50vw); }
#pagina2{ transform: rotateX(-90deg) translateZ(50vw); }
#pagina3{ transform: rotateY(180deg) translateZ(50vw); }
#pagina4{ transform: rotateX(90deg) translateZ(50vw); }
#pagina5{ transform: rotateY(90deg) translateZ(50vw); }
#pagina6{ transform: rotateY(-90deg) translateZ(50vw); }

#pagina1 .grilla{ background-color: #F2F2F2; }
#pagina2 .grilla{ background-color: #D1D1D1; }
#pagina3 .grilla{ background-color: #C2C2C2; }
#pagina4 .grilla{ background-color: #A5A5A5; }
#pagina5 .grilla{ background-color: #8B8B8B; }
#pagina6 .grilla{ background-color: #414141; }

.cara_int{
    width: 100vw;
    height: 99vw;
    background-color: #e65238;
    padding: 10vw 0 0 20vw;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}